//Generic styles for hardcoded pages that are acting like templates
.body {
  margin: 2rem 0;
  @include breakpoint(large) {
    margin: 3rem 0 0;
  }

  .inner-photo {
    margin-bottom: 1.5rem;
    min-width: 100%;
  }

  .bottom-content {
    justify-content: center;
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.main {
  flex: 1 0 100%;
  padding-left: 3.333333333%;
  padding-right: 3.333333333%;
  @include breakpoint(medium) {
    flex: 1 0 66.6667%;
    padding-left: 8.333333333%;
    padding-right: 8.333333333%;
  }
  .two-column  & {
    margin: 1.5rem 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
    @include breakpoint(medium) {
      flex: 1 0 100%;
      padding-left: 2%;
      padding-right: 2%;
      margin: 2rem 0;
    }
    @include breakpoint(large) {
      padding-left: 3.333333333%;
      padding-right: 3.333333333%;
    }
    p {
      font-size: 1rem;
      line-height: 1.5;
      @include breakpoint(large) {
        font-size: 1.125rem;
        line-height: 1.6;
      }
    }
  }
}

.event-request {
  background: $extra-light-gray;
  p {
    text-align: center;
  }
}
