//Get involved and for donation
//Currently being pulled in by a script that constructs the elements
.at-title {
  background: #fff;
}

.multistep-footer {
  background: #fff;
}

div.ngp-form {
	margin: 3rem 0em;
}
