.page-template-page-splash {
  background-color: black;
  overflow: hidden;
}

.splash {
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
  .main {
    height: 100vh;
  }
  .content {
    @include breakpoint(large) {
      height: 100%;
      height: 100vh;
    }
    .columns:first-child {
      align-self: flex-start;
      margin-top: 10%;
      margin-top: 10vh;
    }
    .columns:last-child {
      align-self: flex-start;
      margin-top: 5%;
      margin-top: 5vh;
      @include breakpoint(large) {
        margin-top: 20%;
        margin-top: 20vh;
      }
    }
    img {
      width: 100%;
      text-align: center;
    }
  }
}
