.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.event-date_circle {
  text-align: center;
  display: inline-block;
  border: 3px solid $light-blue;
  padding: .875rem 0;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.125rem;
  color: $light-blue;
  line-height: 1;
  height: 5rem;
  width: 5rem;
  margin: 1rem auto;
  @include breakpoint(medium) {
    margin: 1rem 0;
  }
  @include breakpoint(large) {
    margin: 0;
  }
}

.event-copy {
  margin-bottom: 1rem;
  @include breakpoint(large) {
    margin-bottom: 2rem;

    &:first-child {
      margin: 0;
      margin-bottom: 2.5rem;
    }
  }
  &:hover {
      a {
          color: $burnt-orange;
      }
  }
  a {
      text-decoration: none;
  }
}

body.home {
    .event-copy {
      a {
        color: #fff;
        &:hover {
            text-decoration: none;
        }
      }
      &:hover {
          a {
              color: $burnt-orange;
          }
      }
    }
}

.event-content {
  padding-right: 8.333333333%;
  padding-left: 8.333333333%;
  @include breakpoint(medium) {
    padding-right: calc(((100% - 75rem) / 2) + 15px);
  }
  .section-title {
    color:white;
  }
  p, h5 {
    font-size: .9375rem;
    margin: 0 auto .5rem;
  }

  a.button {
    margin: .5rem auto 1.5rem;
  }
}

.event-photo {
  min-width: 100%;
  position: relative;
  @include breakpoint(large) {
    position: absolute;
    bottom: 0;
  }
  @include breakpoint(91.625rem) {
    position: relative;
  }
}

.special-event__copy {
  p {
    font-size: 1rem;
    @include breakpoint(large) {
      font-size: 1.5rem;
    }
  }
}

.special-event___locale {
  padding-bottom: 1rem;
  margin-bottom: .5rem;
}

.special-event___date {
  font-size: 1rem;
  @include breakpoint(large) {
    font-size: .85rem;
  }
 @include breakpoint(xlarge) {
    font-size: 1rem;
  }
}

.special-event .body {
  margin: 1rem 0;
}
