.header {
  background-color: $color__background-header;
  padding: 1.5rem 0;
  position: relative;
  @include breakpoint(medium) {
    padding: 1.5rem 0;
  }
}

.header__content {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header-nav {
  display: none;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
  padding-right: 2.5rem;
  padding-left: calc(6% + 1rem);
  padding-top: 2.5rem;
  @include breakpoint(40rem) {
    padding-left: calc(4% + 1rem);
    padding-top: 0;
  }
  @include breakpoint(64rem) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: initial;
    height: initial;
    padding-left: 0;
    flex: 0 0 70.66667%;
    max-width: 70.66667%;
  }
}

.header-nav--active {
  @include breakpoint(64rem down) {
    display: flex;
  }
}

.header-logo {
  color: white;
  flex: 0 0 50%;
  margin-left: 1rem;
  padding: 0;
  text-decoration: none;
  max-width: 19.875rem;
  @include breakpoint(40rem) {
    flex: 0 0 36.25%;
    max-width: 14.5rem;
  }
  @include breakpoint(64rem) {
    flex: 0 0 27%;
    padding-right: 2rem;
    max-width: 18.25rem;
  }
}

.header-burger__icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 16px;
  cursor: pointer;
  margin: 0 .75rem;
  @include breakpoint(64rem) {
    display: none;
  }
  .line {
    background-color: white;
    border-radius: 4px;
    display: block;
    height: 2px;
    left:0;
    position: absolute;
    -webkit-transition: all 320ms ease-in;
    transition: all 320ms ease-in;
    width: 100%;
  }
  .line-top {
    top:0;
  }
  .line-middle {
    top: 50%;
  }
  .line-bottom {
    top:100%;
  }
  &:hover .line-top,
  &:focus .line-top {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  &:hover .line-bottom,
  &:focus .line-bottom {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  &.header-burger--active {
    .line-top {
      -webkit-transform: translateY(8px) translateX(0) rotate(225deg);
              transform: translateY(8px) translateX(0) rotate(225deg);
    }
    .line-middle {
      opacity: 0;
    }
    .line-bottom {
      -webkit-transform: translateY(-8px) translateX(0) rotate(-225deg);
              transform: translateY(-8px) translateX(0) rotate(-225deg);
    }
  }
}

.header-nav__link {
  display: block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  width: 100%;
  @include breakpoint(64rem) {
    text-align: center;
    width: initial;
    margin: 0;
    padding: 0;
  }

  &:hover {
    color: white;
    text-decoration: none;

    // Don't include the underline created by the :after element
    // for any smaller breakpoints due to a Safari issue
    // see: https://css-tricks.com/annoying-mobile-double-tap-link-issue/
    @include breakpoint(medium) {
      &:after {
        content: '';
        height: 2px;
        display: block;
        background: #fff;
        width: 100%;
      }
    }
  }

  &:after {
    content: '';
    height: 2px;
    display: block;
    background: #fff;
    width: 0;
    transition: .15s linear;
  }
  &.active {
    &:after {
      content: '';
      height: 2px;
      display: block;
      background: $burnt-orange;
      width: 100%;
    }
  }
}

.header-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 2;
  text-align: center;
  padding-top: 2.5rem;
  @include breakpoint(64rem) {
    padding: 0;
    justify-content: space-around;
    order: 0;
    max-width: 22.5%;
  }
}

.header-social__link {
  display: flex;
  max-width: 20%;
  transition: .15s linear;
  @include breakpoint(64rem) {
    max-width: 12.5%;
  }
  &:hover {
    opacity: .75;
  }
}

.header-social__button {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 800;
  background-color: $burnt-orange;
  @include breakpoint(64rem) {
    margin: 0;
  }
  &:hover {
    text-decoration: none;
    background: darken($burnt-orange, 10);
  }
}

.header-language {
  display: none;
  // display: flex;
  // position: absolute;
  // right: 3.75rem;
  // top: 2rem;
  // @include breakpoint(40rem) {
  //   top: 1.75rem;
  // }
  // @include breakpoint(64rem) {
  //   position: relative;
  //   top: 0.5rem;
  //   right: auto;
  // }
  // select {
  //   padding: 0.25rem;
  //   font-size: 0.75rem;
  //   height: auto;
  //   width: auto;
  //   background: transparent;
  //   color: white;
  //   text-transform: uppercase;
  // }
}

/* IE is the worst */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  header img[src$=".svg"] {
    width: 100%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  footer img[src$=".svg"] {
    width: 100%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .footer-social__container img[src$=".svg"] {
    width: 100%;
  }
}
