.hero {
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $primary-color;
  @include breakpoint(medium) {
    height: 32.5rem;
  }

  .row:first-child,
  .row:last-child {
    height: 40%;
  }

  .row {
    justify-content: center;
    @include breakpoint(medium) {
      justify-content: space-between;
    }

    > * {
      @include breakpoint(medium) {
        max-width: 58%;
      }
      @include breakpoint(large) {
        max-width: 70%;
      }
    }
  }

  .special-event & {
    background-size: contain;
    background-position: 50% 0;
  }

  &.inner-page {
    height: 10rem;
    @include breakpoint(medium) {
      height: 17rem;
    }
    @include breakpoint(large) {
      height: 32rem;
    }

    .row:first-child {
      height: 100%;
    }

    h1 {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  h1 {
    @include breakpoint(small only) {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      line-height: 1;
      font-size: 1.75rem;
      max-width: 13rem;
    }
    @include breakpoint(23.125rem) {
      font-size: 2.15rem;
    }
    @include breakpoint(25rem) {
      font-size: 2.5rem;
      max-width: 15rem;
    }
    @include breakpoint(30rem) {
      max-width: 21rem;
      font-size: 3.525rem;
    }
    @include breakpoint(40rem) {
      max-width: 45rem;
    }
  }

  h2 {
    font-family: $font__main;
    @include breakpoint(small only) {
      margin-top: 1.5rem;
      font-size: 1.25rem;
      color: $white;
    }
    @include breakpoint(21rem) {
      margin-top: 2rem;
    }
    @include breakpoint(26.25rem) {
      margin-top: 3rem;
    }
    @include breakpoint(27.75rem) {
      margin-top: 3.5rem;
    }
    @include breakpoint(30rem) {
      margin-top: 0;
    }
    @include breakpoint(31.25rem) {
      margin-top: .5rem;
    }
    @include breakpoint(32.5rem) {
      margin-top: 1rem;
    }
    @include breakpoint(33.5rem) {
      margin-top: 1.5rem;
    }
    @include breakpoint(34.5rem) {
      margin-top: 2rem;
    }
    @include breakpoint(36.5rem) {
      margin-top: 2.5rem;
    }
    @include breakpoint(38rem) {
      margin-top: 3rem;
    }
    @include breakpoint(40rem) {
      margin-top: 1rem;
    }
  }
  h3 {
    @include breakpoint(small only) {
      margin-top: 1rem;
    }
  }
  a.button {
    @include breakpoint(medium down) {
      margin-bottom: 1.5rem;
    }
  }
}
