/*------------------------------------*\
    STYLE SEVEN
\*------------------------------------*/
/**
 * Rectangle with coloured logo on white
 * background, coloured border, including
 * text
 */

/**
 * Update variables below to include media
 * queries (responsive version), control
 * padding and other variables.
 */

$include-media-queries:    true;
$icon-spacing:             6px;
$wrapper-padding:          0;
$icon-size:                24px;
$base-font-size:           16px;
$animation-speed:          0.25s;

/**
 * Generated CSS must be combined with
 * ssbp-base in order to display correctly.
 * Allows for smaller file size when
 * combining multiple themes.
 */

@import '../modules/vars';
@import '../modules/mixins';

.ssbp--theme-7 {
	.ssbp-list {
		li {
			margin-left: $icon-spacing;
		}
	}

	.ssbp-text {
		@include font-styling;
		margin-left: .5em;
	}

	.ssbp-btn {
		display: block;
		padding: 0.5em 1em;
		border: 2px solid #fff;
		color: #fff;
		background-color: #fff;
		transition: background-color $animation-speed;
		&:before { vertical-align: middle; }
	}

	// This loop creates the specific social network styling for each .ssbp-btn using the $social-networks list in _vars.scss
	@each $social-network, $color in $social-networks {
		.ssbp-#{$social-network} {
			border-color: $color;
			color: $color;
			&:visited { //overide theme 2012
				color: $color;
			}
			&:hover, &:focus, &:active {
				background-color: $color;
				border-bottom: 2px $color solid;
				color: #fff;
			}
			+ .ssbp-each-share {
				color: $color;
			}
		}
	}

	// Per network share count
	.ssbp-each-share {
		padding-top: 3px;
		text-align: center;
		font-size: 12px;
	}
	.ssbp-toggle-switch {
		@extend %ssbp-toggle-switch--light;
	}
		&.ssbp--centred {
	@extend %ssbp--centred-full;	
	}
}
