.main-content,
.bottom-content {
  font-size: 1.3125rem;
  &.row:before,
  &.row:after {
    display: flex !important;
    content: " " !important;
  }
}

.main-content {
  margin: 2rem auto;
  @include breakpoint(large) {
    margin: 4.25rem auto;
  }
  .main-callout {
    @include breakpoint(large) {
      padding-bottom: 1rem;
      font-size: 2.5rem;
    }
  }
}

.main-callout,
.main-quote {
  color: $secondary-color;
  font-size: 1.5rem;
  line-height: 2.5rem;
  @include breakpoint(medium) {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}

.main-quote,
.main-caption {
  text-align: center;
}

.main-quote {
  margin-top: 8.125rem;
}

.main-caption {
  font-style: italic; //todo: see about font specification here
  margin: 0 0 8.125rem;
}

.main-copy {
  margin-bottom: 0;
}

.action-content {
  display: flex;
  flex-flow: row wrap;
}

.pillar-wrapper,
.event-wrapper {
  h4 {
    text-transform: uppercase;
    font-size: .8125rem;
    font-family: $font__heading;
  }
  .row {
    padding-top: 1rem;
    @include breakpoint(medium) {
      padding-top: 2rem;
    }
  }
}

.pillar-wrapper {
  background-color: #f7f7f7;
  flex: 1 0 100%;
  padding-right: .625rem;
  padding-left: 7.25%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include breakpoint(large) {
    padding-top: 4.25rem;
    padding-bottom: 1rem;
    padding-left: 6.25%;
    flex: 1 0 0px;
  }
  @include breakpoint(large) {
    padding-left: calc(8.333333333% + .9375rem);
  }
  .main-callout {
    @include breakpoint(large) {
      padding-bottom: 1.6rem;
    }
  }
}

.event-wrapper {
  background-color: $primary-color;
  color: $white;
  flex: 1 0 100%;
  padding-top: 2rem;
  position: relative;
  @include breakpoint(large) {
    padding-top: 4.25rem;
    flex: 0 1 33.3333%;
    min-height: 62.5rem;
  }
  .row {
    padding-top: 1.25rem;
  }
  .main-callout {
    color: $white;
    @include breakpoint(large) {
      padding-bottom: 2rem;
    }
  }
}

.pillar-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
  &:not(:last-child) {
    @include breakpoint(large) {
      padding-bottom: 3rem;
    }
  }
  &.column {
    padding-left: 0;
  }
}

.pillar-icon {
  flex: 1 0 100%;
  margin-bottom: 1.25rem;
  width: 4.5rem;
  height: 4.5rem;
  @include breakpoint(medium) {
    flex: 0 1 auto;
  }
}

.pillar-copy {
  flex: 1 0 100%;
  margin: 0 auto;
  @include breakpoint(medium) {
    flex: 1 0 80%;
    max-width: 80%;
  }
  p {
    font-size: 1rem;
    @include breakpoint(large) {
      font-size: 1.125rem;
      padding-right: 25%;
    }
  }
}

.pillar-button {
  margin-top: 1.75rem;
  margin-bottom: 3rem;
}

.event-date_circle {
  text-align: center;
  display: inline-block;
  border: 3px solid $light-blue;
  padding: .875rem 0;
  border-radius: 50%;
  font-weight: 700;
  font-size: 1.125rem;
  color: $light-blue;
  line-height: 1;
  height: 5rem;
  width: 5rem;
  margin: 1rem auto;
  @include breakpoint(medium) {
    margin: 1rem 0;
  }
  @include breakpoint(large) {
    margin: 0;
  }
}

.event-copy {
  margin-bottom: 1rem;
  &a {
      color: #fff;
  }
  @include breakpoint(large) {
    margin-bottom: 2rem;
    &:first-child {
      margin: 0;
      margin-bottom: 2.5rem;
    }
  }
}

.event-content {
  padding-right: 8.333333333%;
  padding-left: 8.333333333%;
  @include breakpoint(medium) {
    padding-right: calc(((100% - 75rem) / 2) + 15px);
  }
  p, h5 {
    font-size: .9375rem;
    margin: 0 auto .5rem;
  }
  a.button {
    margin: .5rem auto 1.5rem;
  }
}

.event-photo {
  min-width: 100%;
  position: relative;
  @include breakpoint(large) {
    position: absolute;
    bottom: 0;
  }
  @include breakpoint(91.625rem) {
    position: relative;
  }
}

.bottom-content {
  max-width: 100%;
  width: 100vw;
  padding: 0;
  margin-bottom: 0;
  margin-top: 1.25rem;
  @include breakpoint(medium) {
    margin-top: 0;
  }
  img {
    min-width: 100%;
  }
}
