.section-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 1rem 0;
  &:after {
    content: "";
    display: block;
    height: 5px;
    width: 6rem;
    background-color: $burnt-orange;
    margin: 1rem 0 0 0;
  }

}

.hero {
  * {
    color: white; //todo: color
  }
  h1 {
    font-size: 3.625rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  h2 {
    font-size: 1.3125rem;
    font-weight: normal;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 1rem;
  }

  input {
    max-width: 17rem;
  }
}
