.section-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 1rem 0;
  color: $light-blue;
  text-transform: none;
  &:after {
    content: "";
    display: block;
    height: 5px;
    width: 6rem;
    background-color: $burnt-orange;
    margin: 1rem 0 0 0;
  }
  &.press-release__title {
    font-size: 1.5rem;
    @include breakpoint(medium) {
      font-size: 2.25rem;
    }
  }
  &.special-event__title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    @include breakpoint(large) {
      font-size: 2.25rem;
      margin-top: 1.5rem;
    }
    &:after {
      margin: 1rem auto;
    }
  }
}

.section-subtitle {
  &.special-event__title {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.25rem;
    @include breakpoint(large) {
      font-size: 2rem;
      margin: 1rem auto 3rem;
    }
  }
}

.hero {
  * {
    color: white; //todo: color
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
  }
  h1 {
    font-size: 3.625rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  h2 {
    font-size: 1.3125rem;
    font-weight: normal;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 1rem;
  }

  input {
    max-width: 17rem;
  }
}

.page-title {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  margin: 3rem auto 2rem 0;
  font-size: 2.25rem;
}
