$burnt-orange: #F3795D;
$navy-blue: #233368;
$light-blue: #0079A0;
$charcoal: #414141;
$white: #ffffff;

$color__background-body: $white;
$color__background-screen: $navy-blue;
$color__background-hr: #ccc;
$color__background-header: $navy-blue;
$color__background-footer: $navy-blue;
$color__background-button: $burnt-orange;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $charcoal;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $light-blue;
$color__link-visited: darken($light-blue, 10);
$color__link-hover: darken($light-blue, 10);
$color__text-main: $charcoal;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
