button, button[type="submit"] {
  cursor: pointer;
  background: $color__background-button;
  border-radius: 40px;
  color: $white;
  font-weight: 600;
  min-width: 10rem;
  padding: .875rem 2rem;
  transition: all .15s ease;
  &.small {
  	padding: .5rem 1.5rem;
  }
  &:hover {
      text-decoration: none;
      border-bottom: none;
      background: darken($color__background-button, 10);
  }
}

.button {
    cursor: pointer;
    background: $color__background-button;
    border-radius: 40px;
    color: $white;
    font-weight: 600;
    min-width: 10rem;
    padding: .875rem 2rem;
    transition: all .15s ease;
    &.small {
       padding: .5rem 1.5rem;
    }
    &:hover {
        text-decoration: none;
        border-bottom: none;
        background: darken($color__background-button, 10);
    }
}
