.main-callout {
	color: $secondary-color;
	font-size: 1.5rem;
	line-height: 2.5rem;
	@include breakpoint(medium) {
		font-size: 2.25rem;
		line-height: 3rem;
	}
}

.main-content {
	min-height: 20rem;
	font-size: 1.3125rem;
	padding-bottom: 1rem;
}

.main-copy {
	margin-bottom: 0;
}

.action-content {
	display: flex;
	flex-flow: row wrap;
}

.pillar-wrapper,
.event-content {
	h4 {
  	text-transform: uppercase;
  	font-size: .8125rem;
  	font-family: $font__heading;
  }
  hr {
  	width: 5rem;
  	border-top: $burnt-orange 2px solid;
  	margin: 1.5rem 0;
  }
}

.pillar-wrapper {
	background-color: #f7f7f7;
	flex: 1 0 100%;
	padding-left: 8.333333333%;
	padding-right: 8.333333333%;
	padding-top: 3rem;
	.row {
		padding-top: 2rem;
	}
	@include breakpoint(medium) {
		flex: 1 0 66.6667%;
		padding-left: calc(((100% - 75rem)/2) + .9375rem);
	}
}

.event-content {
	background-color: $primary-color;
	color: $white;
	flex: 1 0 100%;
	padding-right: 8.333333333%;
	padding-left: 8.333333333%;
	padding-top: 3rem;
	@include breakpoint(medium) {
		flex: 1 0 33.3333%;
		padding-right: calc(((100% - 75rem)/2) + 15px);
	}
	.main-callout {
		color: $white
	}
}

.pillar-content {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.pillar-icon {
	flex: 0 1 25%;
}

.pillar-copy {
	flex: 1 0 75%;
	margin: 0 auto;
}
