.footer {
  background-color: $color__background-footer;
  color: #fff;
  bottom: 0;
  padding: 2rem 0;
  @include breakpoint(large) {
    padding: 3.25rem 0;
  }
}

.footer__link {
  color: #fff;
  font-weight: 900;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.footer-nav {
  margin-bottom: 2rem;
}

//Footer nav module/components
.footer-nav__logo {
  max-width: 15rem;
  margin: 0;
}

.footer-nav__link {
  display: block;
  color: #fff;
  font-weight: 600;
  &:not(:first-child) {
  @include breakpoint(large) {
      margin-left: 2.5rem;
    }
  }
  &:hover {
      color: #fff;
      text-decoration: underline;
  }
}

//Footer social module/components
.footer-social__container {
  background: $light-blue;
  padding: 2rem 0 1.5rem;
}

.footer-social__icons {
  display: flex;
}

.footer-social__link {
  flex: 1 0;
  display: inline-block;
  transition: all .15s ease;
  &:not(:last-child) {
    padding-right: 2rem;
  }
  &:hover {
     opacity: .75;
  }
}

//Footer paid module/components
.footer-paid {
  background: darken($primary-color, 5);
  color: #fff;
  padding: 1.5rem 0 0;
  text-align: center;
}
