footer {
    background-color: $color__background-footer;
    color: #fff;
    bottom: 0;
    padding: 6.25rem 0;
    nav {
        ul {
            list-style: none;
            .footer-logo {
                max-width: 20rem;
                margin: .5rem 0 0 -2.5rem;
            }
            li{
                a{
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
}
