.hero {
  background-image: url("./assets/Pawar_01.png");
  background-position: center center;
  background-size: cover; // todo: move to row? Look at new mocks
  background-repeat: no-repeat;
  background-color: $navy-blue;
	height: 32.5rem;
	.row {
		height: 100%;
	}
}