.feature-issue {
    padding:1rem;
    margin: 1rem 0;
    h6 {
        text-transform: uppercase;
    }
    .issue-icon {
        float: left;
    }
    .issue-summary {
        float: left;
        width: 75%;
        padding: 0 1rem;
    }
}
